article
{
    float: left;
    width: auto;
    font-size: 11rem%;
    font-family: algerian, courier;
    line-height: 50%;
}
footer
{ clear: left;
  margin-top: 5rem
}
border-box {
  height: 20rem;
  overflow: visible;
}
