.container {
margin: 0 auto;
max-width: 1000px;
padding: 1rem;
 font-family: 'Poor Story', cursive;
}
.clearfix::after {
  content: "";
  display: block;
  clear:both;
}
h1 {
  font-size:3em
}
h2 {
  font-size: 1.5em;
  font-style: italic;
}
h3 {
  font-size: 1.5em;
  color: teal
}
h4 {
  font-size: 1.5em;
  font-style: normal;
  color: darkgray
}
h5 {
  font-size: 1.5em;
  font-style: italic;
  color: teal
}
footer {
  justify-content: center;
  background-color: gray;
  font-family: 'Comfortaa', cursive;
  padding-top: 1rem;
}
header {
background-color: teal;
color: white;
}
.topnav {

    overflow: hidden;
    max-width: 1000px;
    padding: 1rem;
    margin: 0 auto;
}
nav {
  overflow: auto;
  background-color: lightgray
}
nav li {
  float: left;
  margin: 0;
  padding: .5rem 1rem .5rem 0;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the links inside the navigation bar */
.topnav li p{
    float: left;
    color: black;
    text-align: center;
    object-position: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.sidebar {
  float: right;
  padding: 1rem;
  height: 42rem;
}
.flex-container {
   height: 26rem;
   background-color: gray;
   display: flex;
   flex-direction: column;
   border: 2px dotted grey;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   /* flex-wrap: wrap-reverse; */
}
.flex-container div {
 color: white;
 padding: .1rem;
 /* width: 50px;
 height: 50px; */
 font-size: 1.4rem;
 font-family: 'Poor Story', cursive;
}
