.container {
margin: 0 auto;
max-width: 1000px;
padding: 1rem;
font-family: Arial, Helvetica, sans-serif;
}
.clearfix::after {
  content: "";
  display: block;
  clear:both;
}
h1 {
  font-size:3em
}
h2 {
  font-size: 1.5em;
  font-style: italic;
}
h3 {
  font-size: 1.5em;
  color: teal
}
h4 {
  font-size: 1.5em;
  font-style: normal;
  color: darkgray
}
h5 {
  font-size: 1.5em;
  font-style: italic;
  color: teal
}
footer {
  align-items: center;
  background-color: gray;
}
header {
background-color: teal;
color: white;
}
.topnav {

    overflow: hidden;
    max-width: 1000px;
    padding: 1rem;
    margin: 0 auto;
}
nav {
  background-color: lightgray;
}

/* Style the links inside the navigation bar */
.topnav li p{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.sidebar {
  float: right;
}
